<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
  function postInstruction()
  {
/*     fetch('/1/'+document.getElementById("action").value, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({id: 1, instruction: document.getElementById("action").value})
    }).then(response => response.json()).then(data => {document.getElementById("actionTo").value = data;}); */
    fetch('/1/'+document.getElementById("action").value).then(response => response.text()).then(data => {alert(data); });
  }
</script> 

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Accion</span>
    </div>
    <input id="action" type="text" class="form-control" placeholder="Accion a realizar" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <form id="toInstruction">
          <button class="btn btn-outline-secondary" type="button" onclick="postInstruction()" id="button-addon1">Ejecutar</button>
      </form>
    </div>
  </div>
  
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Acciones realizadas</span>
    </div>
    <textarea disabled id="actionTo" class="form-control" aria-label="With textarea"></textarea>
  </div>
</html>